/* 등록된 시험이 없습니다! */
div.assigned_exam h2.no_exam {
    text-align: center;
    margin-top: 200px;
}

div.wrapper__div__assigend_exam_list {
    width: 1000px;
    margin: 0 auto;
}

.div__assigned_exam_list_menu div.academy_classroom_name {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.div__assigned_exam_list_menu div.academy_classroom_name span {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

.div__assigned_exam_list_menu div.exam_name_date {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.div__assigned_exam_list_menu div.time_limit_pass_score {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* 시험 응시 button */
.div__assigned_exam_list_menu button.btn__take_exam {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #9398ff;
    color: white;
}
