div.classroom_info {
	display: flex;
	flex-direction: column;
}

/* JoinedClassroomList 컴포넌트 */
div.joined_classroom_list {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

div.joined_classroom_list > ul {
	position: relative;
	top: -15px;
}

div.classroom_list_item {
	margin-bottom: 30px;
}

div.classroom_list_item li {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

div.classroom_list_item span {
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 12px;
	font-size: 17px;
}

/* ApplyingClassroomList 컴포넌트 */
div.applying_classroom_list {
	display: flex;
	flex-direction: column;
	padding: 30px;
	position: relative;
	top: -50px;
}

/* 반 가입신청 하기 button */
div.classroom_info button.btn_apply_classroom {
	border-radius: 12px;
	background-color: #858ffb;
	border-color: #eff3f7;
	color: white;
	width: 180px;
	height: 50px;
	font-size: 18px;
	position: relative;
	top: -30px;
	/* button 가운데 정렬 */
	display: block;
	margin: auto;
	margin-bottom: 50px;
}

div.classroom_info button.btn_apply_classroom:focus {
	border: 2px solid black;
}
