/* 응시 완료한 시험이 없습니다! */
div.completed_exam h2.no_completed_exam {
    text-align: center;
    margin-top: 200px;
}

.div__completed_exam_list_menu div.academy_classroom_name {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.div__completed_exam_list_menu div.academy_classroom_name span {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

.div__completed_exam_list_menu div.exam_name_date {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.div__completed_exam_list_menu div.time_limit_pass_score {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* 오답노트 확인 button */
.div__completed_exam_list_menu button.btn__review_exam {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #9398ff;
    color: white;
}
