.login__page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.banner__container {
    position: relative;
    top: 50px;
}

/* .login__form__container {
} */

/* .login__form__container > header {
    width: 350px;
} */

.login__form__container > header {
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}

.logo__container {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.logo__container img {
    width: 200px;
    height: 200px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__form input {
    width: 400px;
    height: 50px;
    margin-top: 10px;
    background-color: #d8dcfe;
    border: 1px solid #cececc;
    border-radius: 5px;
}

.login__form input::placeholder {
    color: #c1c6e6;
    font-size: 15px;
}

.login__form input:focus {
    outline: 1.5px solid black;
}

.login__form button {
    position: relative;
    top: 10px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: #858ffb;
    color: white;
}

.login__form button:focus {
    border: 2px solid black;
}

.login__form__container > a:nth-child(4) {
    position: relative;
    bottom: -20px;
    left: 70px;
    font-size: 14px;
}

.login__form__container > a:nth-child(5) {
    position: relative;
    bottom: -20px;
    left: 200px;
    font-size: 14px;
}

/* 반응형(모바일) */
@media only screen and (max-width: 501px) {
    .login__form input {
        width: 70vw;
    }

    .login__form input::placeholder {
        font-size: 12px;
    }

    .login__form button {
        width: 70vw;
        height: 50px;
        border-radius: 15px;
    }
}

@media only screen and (max-height: 675px) {
    .login__page {
        margin-top: 35px;
    }

    .logo__container {
        margin-bottom: 30px;
    }

    .logo__container img {
        width: 150px;
        height: 150px;
    }
}
