div.manage_exam_question {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

div.question_number_group {
    display: flex;
    justify-content: space-between;
}

/* h2.question_number {
} */

div.question_number_pagination {
    position: relative;
    top: 23px;
}

/* CreateEditExamQuestion 컴포넌트 */
div.create_edit_exam_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form.question__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 화면 클 경우(데스크탑) */
div.div__question__textarea_img {
    display: flex;
    justify-content: space-evenly;
}

/* 화면 작을 경우(모바일) */
@media only screen and (max-width: 1300px) {
    div.div__question__textarea_img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

div.div__question__textarea_img textarea {
    /* width: 70%; */
    width: 650px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    resize: both;
    margin-bottom: 50px;
}

div.div__question__textarea_img textarea:focus {
    outline: none;
    border: 2px solid #1e90ff;
}

div.question_picture__group {
    display: flex;
    flex-direction: column;
}

div.question_picture__container {
    /* width: 350px;
    height: 300px; */
    width: 500px;
    height: 300px;
    margin-left: 30px;
}

div.question_picture__container img {
    object-fit: cover;
    width: 500px;
    height: 300px;
    /* width: 350px;
    height: 300px; */
    /* div 컨테이너에 크기 맞추되, 가로 세로 비율 유지 */
}

div.question_picture__group input[type="file"] {
    position: relative;
    left: 30px;
}

div.question_choice_answer__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

div.question_choice_answer__group h3 {
    margin-bottom: 30px;
}

div.question_choice_answer__container {
    display: flex;
    margin-bottom: 12px;
}

div.question_choice_answer__container span {
    margin-right: 15px;
    font-size: 20px;
}

div.question_choice_answer__container input[name="question_choice"] {
    width: 270px;
    height: 30px;
    font-size: 18px;
    border-bottom: 1px solid #a5a5a5;
    background-color: inherit;
    margin-right: 15px;
}

div.question_choice_answer__container input[name="question_choice"]:focus {
    outline: none;
    border-bottom: 2px solid #1e90ff;
}

div.question_choice_answer__container input[name="question_answer_checkbox"] {
    position: relative;
    top: 7px;
}

div.create_edit_exam_question button.btn__current_question_save {
    width: 350px;
    height: 40px;
    border-radius: 15px;
    background-color: #1e90ff;
    color: white;
    font-size: 18px;
    margin-top: 50px;
}

/* 현재 문제 삭제(휴지통 아이콘), 문제 추가(+) button */
div.floating_action_buttons {
    display: flex;
    justify-content: end;
}

/* 제출, 취소 button */
div.manage_exam_question div.div__btn__submit_cancel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

div.manage_exam_question div.div__btn__submit_cancel button {
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

div.manage_exam_question div.div__btn__submit_cancel button:first-child {
    background-color: #9398ff;
}

div.manage_exam_question div.div__btn__submit_cancel button:nth-child(2) {
    background-color: #ff6056;
}
