div.manage_academy_list {
    display: flex;
    flex-direction: column;
}

div.manage_academy_list .ul__academy_list {
    margin-top: 50px;
}

.div__academy_list_menu {
    margin-bottom: 30px;
    margin-right: 100px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    /* li marker 지우기 */
    list-style: none;
}

/* 학원 리스트에 마우스 올렸을 때, 선택 및 시각 효과 */
.div__academy_list_menu:hover {
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.div__academy_list_menu li span {
    display: block;
    margin-bottom: 10px;
}

.div__academy_list_menu li span.academy_name {
    font-size: 20px;
    font-weight: 600;
}

.div__academy_list_menu li span.academy_address,
.div__academy_list_menu li span.academy_phone {
    font-size: 17px;
    /* font-weight: 500; */
}

/* 학원 추가 Dialog Form */
form.academy_create__form {
    margin-top: 5px;
    margin-bottom: 5px;
}

form.academy_create__form input {
    font-size: 16px;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-left: 10px;
}

form.academy_create__form input[name="academy_name"],
form.academy_create__form input[name="academy_address"] {
    margin-left: 40px;
}

form.academy_create__form input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

/* 하단 취소, 확인 button */
form.academy_create__form div.buttons__confirm_cancel {
    display: flex;
    justify-content: right;
}

form.academy_create__form div.buttons__confirm_cancel button {
    font-size: 16px;
    font-weight: 500;
}
