div.manage_academy_members div.wrapper__div__manage_academy_members {
    width: 1000px;
    margin: auto;
}

.academy_joined_student_list > h2,
.academy_joined_teacher_list > h2 {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.academy_joined_teacher_list {
    margin-top: 100px;
}

/* 학생, 선생님 추방 Dialog Form */
form.academy_student_kick__form span,
form.academy_teacher_kick__form span {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

form.academy_student_kick__form input,
form.academy_teacher_kick__form input {
    font-size: 16px;
}

form.academy_student_kick__form input[name="school_name"] {
    width: 220px;
}

form.academy_student_kick__form input[name="school_year"] {
    width: 25px;
}

form.academy_student_kick__form input[name="parent_phone"],
form.academy_teacher_kick__form input[name="teacher_phone"] {
    margin-bottom: 20px;
}

form.academy_student_kick__form input[name="student_phone"] {
    margin-left: 15px;
}

form.academy_teacher_kick__form input[name="teacher_phone"] {
    width: 130px;
}

form.academy_student_kick__form div.buttons__kick_cancel,
form.academy_teacher_kick__form div.buttons__kick_cancel {
    display: flex;
    justify-content: right;
}

form.academy_student_kick__form div.buttons__kick_cancel button,
form.academy_teacher_kick__form div.buttons__kick_cancel button {
    font-size: 16px;
    font-weight: 500;
}

div.manage_academy_members div.div__student_list_menu button {
    margin-left: 200px;
}

div.manage_academy_members div.div__teacher_list_menu button {
    margin-left: 200px;
}
