div.MuiToolbar-root div button.MuiButtonBase-root {
	color: white;
	position: relative;
	left: -20px;
	top: 2px;
}

div.MuiToolbar-root h6.MuiTypography-root {
	text-align: center;
	font-size: 26px;
}

/* 상단 우측 로그아웃 버튼 */
div.MuiToolbar-root button.MuiButton-colorInherit {
	font-size: 14px;
	font-weight: 600;
	position: relative;
	left: 18px;
	top: 3px;
}

div.no_academy_content h3 {
	text-align: right;
	margin-top: 35px;
	margin-right: 35px;
}

div.no_academy_content div {
	margin-top: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.no_academy_content button {
	font-size: 20px;
	background-color: inherit;
	color: #858ffb;
	text-decoration: underline;
	text-underline-offset: 5px;
}

div.no_academy_content button:focus {
	color: indianred;
}
