.sign_up__page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up__page > h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sign_up__form .render_field {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.sign_up__form .render_field > label {
    margin-bottom: 10px;
}

.sign_up__form .render_field > input {
    width: 400px;
    height: 50px;
    border: 1px solid #cececc;
}

.sign_up__form .render_field > input:focus {
    outline: 1.5px solid #858ffb;
}

.sign_up__form .render_field > .error {
    color: red;
    font-size: 13px;
}

.sign_up__form .render_field:nth-child(4) {
    padding-top: 20px;
}

.sign_up__form .render_field:nth-child(5) {
    padding-bottom: 0px;
}

.sign_up__form .render_field:nth-child(8) {
    padding-bottom: 0px;
}

.sign_up__form button {
    width: 400px;
    height: 50px;
    background: #858ffb;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
}

.sign_up__form .phone_field {
    display: flex;
    position: relative;
}

.sign_up__form .phone_field:nth-child(5) input {
    width: 270px;
}

.phone_field .btn__phone_certification_request {
    width: 120px;
    position: absolute;
    right: 0px;
    bottom: 30px;
}

.sign_up__form .phone_field:nth-child(6) input {
    width: 240px;
}

.phone_field .btn__phone_certification_check {
    width: 150px;
    position: absolute;
    right: 0px;
    bottom: 30px;
}
